OBS_TRELLO_API_KEY=12345
OBS_TRELLO_API_TOKEN=67890
OBS_TRELLO_CARD_ID=abcde
# OBS_API_URL=https://api.opensuse.org
# OBS_PROJECT=OBS:Server:Unstable
# OBS_PACKAGE=obs-server
# OBS_ARCHITECTURE=x86_64
# OBS_REPOSITORIES='SLE_15_SP3'
# OBS_TRELLO_FAILED_IMAGE=failed.jpg
# OBS_TRELLO_PASSED_IMAGE=passed.jpg
