from: from@my.domain
to_success: to.success@my.domain
to_failed: to.failed@my.domain
smtp_server: relay.my.domain
open_qa: https://openqa.my.domain/
distribution: obs
versions:
  - Unstable
  - '2.10'
  - '2.9'
